numpy
albumentations
Pillow
torch
tqdm
librosa
audiomentations
torchvision
einops
requests
wandb
omegaconf
scipy
setuptools
matplotlib
pytorch_lightning
pyroomacoustics
soundfile
transformers
google.colab